# Ignore the node_modules directory
**/node_modules/

# Ignore Logs
**/logs
*.log

# Ignore the build directory (but only the lib subdir; there are other files which shouldn't be ignored, like package.json, .npmrc)
**/dist/lib

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*

# Others
*.iml
.yarn-metadata.json
package-lock.json
yarn.lock
