@sdl:registry=https://nexus.sdl.com/repository/npm-internal/
--init-author-name=SDL
--init-author-email=noreply@sdl.com
email=noreply@sdl.com
//nexus.sdl.com/repository/npm-internal/:_authToken=NpmToken.cf6bc702-70d5-376a-8c90-616070244a71